
<body class="container mt-5 mb-5">
  <!-- Thay đổi mật khẩu -->
  <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <div class="card-user border-shadow">
          <div class="card-header card-background-color">
            <div class="d-flex justify-content-between">
            <p class="card-title card-header-text-bold text-light mt-2">Thay đổi mật khẩu</p>
          </div>
        </div>
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                      <tr>
                          <th><label for="oldPassword" class="required">Mật khẩu cũ : </label></th>
                          <th><input id='oldPassword' type="password" class="form-control" formControlName="oldPassword">
                            <ng-container *ngFor="let validation of validationMessage.oldPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.get('oldPassword').hasError(validation.type)&& formChangePassword.get('oldPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                          </th>
                      </tr>
                      <tr>
                          <th><label class="required" >Mật khẩu mới : </label></th>
                          <th><input type="text" type="password" class="form-control" formControlName="newPassword">
                            <ng-container *ngFor="let validation of validationMessage.newPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.get('newPassword').hasError(validation.type)&& formChangePassword.get('newPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <ng-container *ngFor="let validation of validationMessage.newPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.hasError(validation.type)&& formChangePassword.get('newPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                          </th>
                      </tr>
                      <tr>
                          <th><label class="required">Nhập lại mật khẩu mới : </label></th>
                          <th><input type="text" type="password" class="form-control" formControlName="confirmPassword">
                            <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.get('confirmPassword').hasError(validation.type)&& formChangePassword.get('confirmPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.hasError(validation.type)&& formChangePassword.get('confirmPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                          </th>

                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                    </tr>
                      <tr>
                          <th class='d-flex justify-content-end'>
                              <button type="submit" class="btn btn-warning" [disabled]="formChangePassword.invalid">Xác nhận</button>
                          </th>
                          <th>
                              <button type="button" class="btn btn-primary">Trở về</button>
                          </th>
                      </tr>
                  </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
</form>
</body>



