
<body class="container mt-5 mb-5">
  <!-- Thay đổi mật khẩu -->
  <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <div class="card-user border-shadow">
          <div class="card-header card-background-color">
            <div class="d-flex justify-content-between">
            <p class="card-title card-header-text-bold text-light mt-2">Thay đổi mật khẩu</p>
          </div>
        </div>
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                      <tr>
                          <th><label for="oldPassword" class="required">Mật khẩu cũ : </label></th>
                          <th><input id='oldPassword' type="password" class="form-control" formControlName="oldPassword">
                            <ng-container *ngFor="let validation of validationMessage.oldPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.get('oldPassword').hasError(validation.type)&& formChangePassword.get('oldPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                          </th>
                      </tr>
                      <tr>
                          <th><label class="required" >Mật khẩu mới : </label></th>
                          <th><input type="text" type="password" class="form-control" formControlName="newPassword">
                            <ng-container *ngFor="let validation of validationMessage.newPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.get('newPassword').hasError(validation.type)&& formChangePassword.get('newPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <ng-container *ngFor="let validation of validationMessage.newPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.hasError(validation.type)&& formChangePassword.get('newPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                          </th>
                      </tr>
                      <tr>
                          <th><label class="required">Nhập lại mật khẩu mới : </label></th>
                          <th><input type="text" type="password" class="form-control" formControlName="confirmPassword">
                            <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.get('confirmPassword').hasError(validation.type)&& formChangePassword.get('confirmPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                              <small class="form-text text-danger"
                                     *ngIf="formChangePassword.hasError(validation.type)&& formChangePassword.get('confirmPassword').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                          </th>

                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                    </tr>
                      <tr>
                          <th class='d-flex justify-content-end'>
                              <button type="submit" class="btn btn-warning">Xác nhận</button>
                          </th>
                          <th>
                              <button type="button" class="btn btn-primary">Trở về</button>
                          </th>
                      </tr>
                      <tr class="d-flex justify-content-center">
                        <div class="forgot mx-0">
                          <button type="button" href="#" class="btn btn-link btn-danger" (click)="onSendEmail()">Quên mật khẩu?</button>
                        </div>
                    </tr>
                  </tbody>
                  </table>
            </div>
        </div>
    </div>
    <p>{{formChangePassword.value | json}}</p>
</div>
</form>
</body>
<ng-template #otp>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="position-relative">
      <div class="card-header p-2 text-center text-dark">
        <h6>Please enter the one time password <br> to verify your account</h6>
        <div><span class="text-bold">A code has been sent to your email</span></div>
        <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"><input
          class="m-2 text-center form-control rounded" [(ngModel)]="otpOne" type="text" id="first" maxlength="1"/>
          <input
            class="m-2 text-center form-control rounded" [(ngModel)]="otpTwo" type="text" id="second"
            maxlength="1"/> <input
            class="m-2 text-center form-control rounded" [(ngModel)]="otpThree" type="text" id="third"
            maxlength="1"/> <input
            class="m-2 text-center form-control rounded" [(ngModel)]="otpFour" type="text" id="fourth"
            maxlength="1"/> <input
            class="m-2 text-center form-control rounded" [(ngModel)]="otpFive" type="text" id="fifth"
            maxlength="1"/> <input
            class="m-2 text-center form-control rounded" [(ngModel)]="otpSix" type="text" id="sixth" maxlength="1"/>
        </div>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">Xác nhận</button>
        <div class="card-2">
          <div class="content d-flex justify-content-center align-items-center"><span>Didn't get the code ----> </span>
            <a (click)="onSendEmail()" class="hover-orange text-decoration-none ms-3"> Resend Code</a></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #formForgotPw>
  <form [formGroup]="formForgotPassword" (ngSubmit)="changePassword()">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-9">
          <div class="card-user border-shadow">
            <div class="card-header card-background-color">
              <div class="d-flex justify-content-between">
              <p class="card-title card-header-text-bold text-light mt-2">Thay đổi mật khẩu</p>
            </div>
          </div>
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                        <tr>
                            <th><label class="required" >Mật khẩu mới : </label></th>
                            <th><input type="text" type="password" class="form-control" formControlName="newPassword">
                              <ng-container *ngFor="let validation of validationMessage.newPassword">
                                <small class="form-text text-danger"
                                       *ngIf="formChangePassword.get('newPassword').hasError(validation.type)&& formChangePassword.get('newPassword').touched">
                                  {{validation.message}}
                                </small>
                              </ng-container>
                              <ng-container *ngFor="let validation of validationMessage.newPassword">
                                <small class="form-text text-danger"
                                       *ngIf="formForgotPassword.hasError(validation.type)&& formForgotPassword.get('newPassword').touched">
                                  {{validation.message}}
                                </small>
                              </ng-container>
                            </th>
                        </tr>
                        <tr>
                            <th><label class="required">Nhập lại mật khẩu mới : </label></th>
                            <th><input type="text" type="password" class="form-control" formControlName="confirmPassword">
                              <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                                <small class="form-text text-danger"
                                       *ngIf="formForgotPassword.get('confirmPassword').hasError(validation.type)&& formForgotPassword.get('confirmPassword').touched">
                                  {{validation.message}}
                                </small>
                              </ng-container>
                              <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                                <small class="form-text text-danger"
                                       *ngIf="formForgotPassword.hasError(validation.type)&& formForgotPassword.get('confirmPassword').touched">
                                  {{validation.message}}
                                </small>
                              </ng-container>
                            </th>

                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                      </tr>
                        <tr>
                            <th class='d-flex justify-content-end'>
                                <button type="submit" class="btn btn-warning">Xác nhận</button>
                            </th>
                            <th>
                                <button type="button" class="btn btn-primary">Trở về</button>
                            </th>
                        </tr>
  
                    </tbody>
                    </table>
              </div>
          </div>
      </div>
      <p>{{formChangePassword.value | json}}</p>
  </div>
  </form>
</ng-template>


