<body class="container">
  <!-- Thay đổi mật khẩu -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <div class="card-user border-shadow">
          <div class="card-header card-background-color">
            <div class="d-flex justify-content-between">
            <h4 class="card-title card-header-text-bold text-light">Thay đổi mật khẩu</h4>
          </div>
        </div>
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                      <tr>
                          <th><label for="oldPassword" class="required">Mật khẩu cũ : </label></th>
                          <th><input id='oldPassword' type="password" class="form-control"></th>
                      </tr>
                      <tr>
                          <th><label class="required">Mật khẩu mới : </label></th>
                          <th><input type="text" type="password" class="form-control"></th>
                      </tr>
                      <tr>
                          <th><label class="required">Nhập lại mật khẩu mới : </label></th>
                          <th><input type="text" type="password" class="form-control"></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                    </tr>
                      <tr>
                          <th class='d-flex justify-content-end'>
                              <button type="button" class="btn btn-warning">Xác nhận</button>
                          </th>
                          <th>
                              <button type="button" class="btn btn-primary">Trở về</button>
                          </th>
                      </tr>
                  </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
</body>
