<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto table-responsive">
      <table class="table">
        <tr>
          <th class=" text-primary">Name</th>
          <td class="text-center">{{data.teacher.name}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Gender</th>
          <td class="text-center">{{data.teacher.gender}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Birthday</th>
          <td class="text-center">{{data.teacher.birthday}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Address</th>
          <td class="text-center">{{data.teacher.address}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Hometown</th>
          <td class="text-center">{{data.teacher.hometown}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Phone</th>
          <td class="text-center">{{data.teacher.phone}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Email</th>
          <td class="text-center">{{data.teacher.email}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Level</th>
          <td class="text-center">{{data.teacher.level}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Position</th>
          <td class="text-center">{{data.teacher.position}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-10">
    <button (click)="onNoClick()" class="btn btn-primary">Back</button>
  </div>
</div>

