<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto table-responsive">
      <h1>Thông tin giáo viên</h1>
      <table class="table">
        <tr>
          <th class=" text-primary">Họ và tên</th>
          <td class="text-center">{{data.teacher.name}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Giới tính</th>
          <td class="text-center">{{data.teacher.gender}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Ngày sinh</th>
          <td class="text-center">{{data.teacher.birthday}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Địa chỉ</th>
          <td class="text-center">{{data.teacher.address}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Quê quán</th>
          <td class="text-center">{{data.teacher.hometown}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Số điện thoại</th>
          <td class="text-center">{{data.teacher.phone}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Email</th>
          <td class="text-center">{{data.teacher.email}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Trình Độ</th>
          <td class="text-center">{{data.teacher.level}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Chức vụ</th>
          <td class="text-center">{{data.teacher.position}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-10">
    <button (click)="onNoClick()" class="btn btn-primary">Quay lại</button>
  </div>
</div>

