.main-content {
  display: flex;
  background-size: auto;
  width: 100%;
  min-height: 70vh;
  margin: 0;
}
.student-list {
  width: 100%;
  min-height: 70vh;
}
.btn-bottom-center{
  position: relative;
  bottom: 0;
}
