<div class="container-fluid main-content">
  <div class="main-content row">
    <div class="col-md-6 parent-div">
      <div class="child-div-left">
        <div class="mb-5">
          <h1 class="text-title">HỆ THỐNG</h1>
          <h1 class="text-title">QUẢN LÝ TRƯỜNG HỌC</h1>
        </div>
        <div class="mt-5">
          <a class="btn btn-danger mb-1" routerLink="student">Học sinh</a>
          <a class="btn btn-danger mb-1" routerLink="teacher">Giáo viên</a>
          <a class="btn btn-danger mb-1" routerLink="schedule">Thời khóa biểu</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 parent-div">
      <div class="child-div-right">
        <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/a0720i1.appspot.com/o/Home-page%2Ficon.png?alt=media&token=8ef48b8c-6548-442a-9d63-9a00c295b8e4" alt="icon">
      </div>
    </div>
  </div>
</div>
