<div class="bg-custom">
  <div class="container">
    <div class="main-content row">
      <div class="col-md-6 parent-div">
        <div class="child-div-left">
          <div class="mb-5">
            <h1 class="text-title">HỆ THỐNG</h1>
            <h1 class="text-title">QUẢN LÝ TRƯỜNG HỌC</h1>
          </div>
          <div class="mt-5">
            <a class="btn btn-danger mb-1" routerLink="student">Học sinh</a>
            <a class="btn btn-danger mb-1" routerLink="teacher">Giáo viên</a>
            <a class="btn btn-danger mb-1" routerLink="schedule">Thời khóa biểu</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 parent-div">
        <div class="child-div-right">

          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action bg-dark text-light font-weight-bold">
              THÔNG BÁO
            </button>
            <button type="button" class="list-group-item list-group-item-action">Lịch công tác tuần 1 năm học 2021-2022 <small class="text-danger">(11/07/2021)</small></button>
            <button type="button" class="list-group-item list-group-item-action">Thông báo danh sách học sinh khối 1 năm học 2021-2022 <small class="text-danger">(10/07/2021)</small></button>
            <button type="button" class="list-group-item list-group-item-action">Kế hoạch tập huấn hướng dẫn giáo viên thực tập <small class="text-danger">(08/07/2021)</small></button>
            <button type="button" class="list-group-item list-group-item-action">Tập huấn giảng dạy online bằng Zoom <small class="text-danger">(08/07/2021)</small></button>
            <button type="button" class="list-group-item list-group-item-action">Kế hoạch tổ chức các hoạt đông ngoại khóa Khối 3 <small class="text-danger">(06/07/2021)</small></button>
            <button type="button" class="list-group-item list-group-item-action">Thông báo phát động tuần lễ vì học sinh nghèo vượt khó <small class="text-danger">(06/07/2021)</small></button>
            <button type="button" class="list-group-item list-group-item-action">Thông báo lịch nghỉ phòng chống dịch Covid-19 <small class="text-danger">(05/07/2021)</small></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
