<div class="container mt-3 mb-3">
  <div class="ml-auto mr-auto col-md-8">
    <div class="card-user border-shadow">
      <div class="card-header card-background-color">
        <p class="card-title text-light card-header-text-bold">Đăng ký tài khoản</p>
      </div>
      <div class="card-body card-body-text-bold">
        <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label for="username" class="required">Tên đăng nhập</label>
                <input id= "username" type="text" class="form-control" formControlName="username">
                <ng-container *ngFor="let validation of validationMessage.username">
                  <small class="form-text text-danger"
                         *ngIf="teacherForm.get('username').hasError(validation.type)&& teacherForm.get('username').touched">
                    {{validation.message}}
                  </small>
                </ng-container>
                <small class="form-text text-danger"
                       *ngIf="errorMessage.username != null">
                  {{errorMessage.username}}
                </small>
              </div>
            </div>
          </div>
          <fieldset formGroupName="pwGroup">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="password" class="required">Mật khẩu</label>
                  <input type="password" class="form-control" id="password" formControlName="password">
                  <ng-container *ngFor="let validation of validationMessage.password">
                    <small class="form-text text-danger"
                           *ngIf="teacherForm.get('pwGroup').get('password').hasError(validation.type)&& teacherForm.get('pwGroup').get('password').touched">
                      {{validation.message}}
                    </small>
                  </ng-container>
                  <small class="form-text text-danger"
                         *ngIf="errorMessage.password != null">
                    {{errorMessage.password}}
                  </small>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="confirmPassword" class="required">Xác nhận mật khẩu</label>
                  <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                  <ng-container *ngFor="let validation of validationMessage.confirmPassword">
                    <small class="form-text text-danger"
                           *ngIf="((teacherForm.get('pwGroup').hasError(validation.type) && teacherForm.get('pwGroup').get('confirmPassword').value != '')||teacherForm.get('pwGroup').get('confirmPassword').hasError(validation.type)) && teacherForm.get('pwGroup').get('confirmPassword').touched">
                      {{validation.message}}
                    </small>
                  </ng-container>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label for="name" class="required">Họ và tên</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <ng-container *ngFor="let validation of validationMessage.name">
                  <small class="form-text text-danger"
                         *ngIf="teacherForm.get('name').hasError(validation.type)&& teacherForm.get('name').touched">
                    {{validation.message}}
                  </small>
                </ng-container>
                <small class="form-text text-danger"
                       *ngIf="errorMessage.name != null">
                  {{errorMessage.name}}
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="birthday" class="required">Ngày sinh</label>
                <input type="date" class="form-control" id="birthday" formControlName="birthday">
                <ng-container *ngFor="let validation of validationMessage.birthday">
                  <small class="form-text text-danger"
                         *ngIf="teacherForm.get('birthday').hasError(validation.type)&& teacherForm.get('birthday').touched">
                    {{validation.message}}
                  </small>
                </ng-container>
                <small class="form-text text-danger"
                       *ngIf="errorMessage.birthday != null">
                  {{errorMessage.birthday}}
                </small>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="gender" class="required">Giới tính</label>
                <select class="form-control" id="gender" formControlName="gender">
                  <option selected disabled value="-Chọn-">-Chọn-</option>
                  <option>Nam</option>
                  <option>Nữ</option>
                  <option>Khác</option>
                </select>
                <ng-container *ngFor="let validation of validationMessage.gender">
                  <small class="form-text text-danger"
                         *ngIf="teacherForm.get('gender').hasError(validation.type)&& teacherForm.get('gender').touched">
                    {{validation.message}}
                  </small>
                </ng-container>
                <small class="form-text text-danger"
                       *ngIf="errorMessage.gender != null">
                  {{errorMessage.gender}}
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="email" class="required">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <ng-container *ngFor="let validation of validationMessage.email">
                  <small class="form-text text-danger"
                         *ngIf="teacherForm.get('email').hasError(validation.type)&& teacherForm.get('email').touched">
                    {{validation.message}}
                  </small>
                </ng-container>
                <small class="form-text text-danger"
                       *ngIf="errorMessage.email != null">
                  {{errorMessage.email}}
                </small>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="imageUrl">Hình ảnh</label>
                <input type="file" class="form-control" id="imageUrl" accept=".jpg,.jpeg,.png"
                       (change)="selectImage($event)" formControlName="imageUrl">
                <ng-container *ngFor="let validation of validationMessage.imageUrl">
                  <small class="form-text text-danger"
                         *ngIf="teacherForm.get('imageUrl').hasError(validation.type)&& teacherForm.get('imageUrl').touched">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update mt-3 mb-3 ml-auto mr-auto">
              <button type="submit" class="btn btn-success mr-3" [disabled]="teacherForm.invalid">Đăng ký</button>
              <a class="btn btn-primary" routerLink="/">Quay lại</a>
            </div>
          </div>
          <div *ngIf="uploading" class="spinner"></div>
        </form>
      </div>
    </div>
  </div>
</div>
