.bg-login{
  background-color: white;
}
.text-login {
  font-size: 20px;
  font-weight: bold;
}
.margin-login {
  margin: 0;
}

.border-shadow {
  box-shadow: 1px 1px 5px #fffefe;
  border-radius: 5px;
}


