<!-- Start table information-->
<div class="container mt-3 mb-3">
<div class="row">
  <div class="col-md-3">
    <div class="card-user border-shadow">
      <div class="card-body">
        <div class="author">
          <div class="mx-auto">
            <img class="col-md-12" src="assets/img/faces/card-image.jpg" alt="card image">
          </div>
          <hr>
          <div class="text-center">
            <p class="description font-weight-bold">
              Tên: {{student.name}}
            </p>
            <p class="description">
              Ngày Sinh: {{student.birthday}}
            </p>
<!--            <p class="description">-->
<!--             Học Lớp: {{studentClass}}-->
<!--            </p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End table information-->

  <!--Start table edit teacher-->
  <div class="col-md-9">
    <div class="card-user border-shadow">
      <div class="card-header card-background-color">
        <h4 class="card-title card-header-text-bold text-light">Thông tin học sinh</h4>
      </div>
      <div class="card-body card-body-text-bold">
        <form [formGroup]="formStudent" (ngSubmit)="updateStudent()">
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label for="name" class="required">Họ và tên</label>
                <input type="text" class="form-control" id="name" placeholder="Họ và tên"
                       formControlName="name">
                <ng-container *ngFor="let validation of validationMessages.name">
                  <small class="text-danger"
                     *ngIf="formStudent.get('name').hasError(validation.type) && (formStudent.get('name').dirty || formStudent.get('name').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="gender" class="required" >Giới tính</label>
                <select class="form-control" id="gender" formControlName="gender">
                  <option [value]="'Nam'">Nam</option>
                  <option [value]="'Nữ'">Nữ</option>
                  <option [value]="'Khác'">Khác</option>
                </select>
              </div>
                <div class="form-group">
                  <label class="required">Quê Quán</label>
                  <input type="text" class="form-control" placeholder="Quê quán" formControlName="hometown">
                  <ng-container *ngFor="let validation of validationMessages.hometown">
                    <small class="text-danger"
                       *ngIf="formStudent.get('hometown').hasError(validation.type) && (formStudent.get('hometown').dirty || formStudent.get('hometown').touched)">
                      {{validation.message}}
                    </small>
                  </ng-container>
                </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="birthday" class="required">Ngày Sinh</label>
                <input type="date" class="form-control" placeholder="Ngày sinh" id="birthday"
                       formControlName="birthday">
              </div>
              <div class="form-group">
                <label class="required" >Tôn giáo</label>
                <input type="text" class="form-control" placeholder="Tôn giáo" formControlName="religion">
                <ng-container *ngFor="let validation of validationMessages.religion">
                  <small class="text-danger"
                     *ngIf="formStudent.get('religion').hasError(validation.type) && (formStudent.get('religion').dirty || formStudent.get('religion').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="email" class="required">Email</label>
                <input type="text" class="form-control" placeholder="Email"  id="email" formControlName="email">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <small class="text-danger"
                     *ngIf="formStudent.get('email').hasError(validation.type) && (formStudent.get('email').dirty || formStudent.get('email').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <div class="col-md-6 pr-1">

              <div class="form-group">
                <label class="required">Dân Tộc</label>
                <input type="text" class="form-control" placeholder="Dân tộc" formControlName="ethnicity">
                <ng-container *ngFor="let validation of validationMessages.ethnicity">
                  <small class="text-danger"
                     *ngIf="formStudent.get('ethnicity').hasError(validation.type) && (formStudent.get('ethnicity').dirty || formStudent.get('ethnicity').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update mt-3 mb-3 ml-auto mr-auto">
              <button type="submit" class="btn btn-warning mr-3" [disabled]="formStudent.invalid">Xác Nhận</button>
              <button type="submit" class="btn btn-primary" routerLink="/student">Quay Lại</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!--End table edit teacher-->
