<div class="container mt-5 mb-5">
<!-- Start table information-->
<div class="row">
  <div class="col-md-3">
    <div class="card-user border-shadow">
      <div class="card-body">
        <div class="author">
          <div class="mx-auto">
            <img class="col-md-12" [src]="formUpdate.value.imageUrl || filePath " alt="card image">
          </div>
          <hr>
          <div class="text-center">
            <p class="description font-weight-bold">
            </p>
            <p class="description">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End table information-->
  <!--Start table edit teacher-->
  <div class="col-md-9">
    <div class="card-user border-shadow">
      <div class="card-header card-background-color d-flex justify-content-between">
        <p class="card-title card-header-text-bold text-light mt-2">Thông tin giáo viên</p>
        <div>
          <a class="btn btn-primary text-light" [routerLink]="['/change-password/']" >Đổi mật khẩu</a>
        </div>
      </div>
      <div class="card-body card-body-text-bold">
        <form [formGroup]="formUpdate" (ngSubmit)="onUpdate()">
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label for="name">Họ và tên</label>
                <div class="form-control no-edit">
                  <p>{{formUpdate.value.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="gender">Giới tính</label>
                <div class="form-control no-edit">
                  <p>{{formUpdate.value.gender}}</p>
                </div>
              </div>

            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="birthday">Ngày Sinh</label>
                <div class="form-control no-edit">
                  <p>{{formUpdate.value.birthday}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="level" disabled>Trình Độ</label>
                <div class="form-control no-edit">
                  <p>{{formUpdate.value.level}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label disabled>Chức Vụ</label>
                <div class="form-control  no-edit">
                  <p>{{formUpdate.value.position}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label class="required">Địa Chỉ</label>
                <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="address">
                <ng-container *ngFor="let validation of validationMessages.address">
                  <small class="text-danger"
                     *ngIf="formUpdate.get('address').hasError(validation.type) && (formUpdate.get('address').dirty || formUpdate.get('address').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label class="required">Quê Quán</label>
                <input type="text" class="form-control" placeholder="Quê quán" formControlName="hometown">
                <ng-container *ngFor="let validation of validationMessages.hometown">
                  <small class="text-danger"
                     *ngIf="formUpdate.get('hometown').hasError(validation.type) && (formUpdate.get('hometown').dirty || formUpdate.get('hometown').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label class="required">Số Điện Thoại</label>
                <input type="text" class="form-control" placeholder="Số điện thoại" formControlName="phone">
                <ng-container *ngFor="let validation of validationMessages.phone">
                  <small class="text-danger"
                     *ngIf="formUpdate.get('phone').hasError(validation.type) && (formUpdate.get('phone').dirty || formUpdate.get('phone').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="email"  class="required">Email</label>
                <input type="text" class="form-control" placeholder="Email"  id="email" formControlName="email">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <small class="text-danger"
                     *ngIf="formUpdate.get('email').hasError(validation.type) && (formUpdate.get('email').dirty || formUpdate.get('email').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <div class="form-group">
                  <label for="imageUrl">Hình ảnh</label>
                  <input type="file" class="form-control" id="imageUrl" placeholder="Image" accept=".jpg,.jpeg,.png"
                         (change)="selectImage($event)">
                  <!-- <ng-container *ngFor="let validation of validationMessages.imageUrl">
                    <small class="form-text text-danger"
                           *ngIf="formUpdate.get('imageUrl').hasError(validation.type)&& formUpdate.get('imageUrl').touched">
                      {{validation.message}}
                    </small>
                  </ng-container> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update mt-3 mb-3 ml-auto mr-auto">
              <button type="submit" class="btn btn-warning mr-3" [disabled]="formUpdate.invalid">Xác Nhận</button>
              <button type="submit" class="btn btn-primary" routerLink="/teacher">Quay Lại</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


