<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto table-responsive">
      <table class="table">
        <tr>
          <th class=" text-primary">Họ tên</th>
          <td class="text-center">{{data.student.name}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Giới tính</th>
          <td class="text-center">{{data.student.gender}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Ngày sinh</th>
          <td class="text-center">{{data.student.birthday}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Quê quán</th>
          <td class="text-center">{{data.student.hometown}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Dân tộc</th>
          <td class="text-center">{{data.student.ethnicity}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Tôn giáo</th>
          <td class="text-center">{{data.student.religion}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Email</th>
          <td class="text-center">{{data.student.email}}</td>
        </tr>
        <tr>
          <th class=" text-primary">Image</th>
          <td class="text-center">{{data.student.imageUrl}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-10">
    <button (click)="onNoClick()" class="btn btn-primary">Back</button>
  </div>
</div>
